H1 {text-align: center;}

#body {background-color: lightyellow;}

#pizzabody {background-color: rgb(176, 139, 99);}

#coffeebody {background-color: rgb(176, 139, 150);}

#chaibody {background-color: rgb(225, 225, 150);}

#pizzabox {background-color: rgb(186, 165, 141);
border-width: 2px; border-style: dashed; border-color: black; border-radius: 5px;}

#pizzabox2 {background-color: rgb(200, 180, 141); border-width: 2px; border-style: dashed; border-color: black; border-radius: 5px;}

#pizzabox3 {background-color: rgb(204, 187, 143); border-width: 2px; border-style: dashed; border-color: black; border-radius: 5px;}

#coffeebox {background-color: rgb(204, 140, 143); border-width: 2px; border-style: dashed; border-color: black; border-radius: 5px;}

#coffeebox2 {background-color: rgb(220, 140, 143); border-width: 2px; border-style: dashed; border-color: black; border-radius: 5px;}

#chaibox {background-color: rgb(220, 190, 143); border-width: 2px; border-style: dashed; border-color: black; border-radius: 5px;}

#chaibox2 {background-color: rgb(220, 160, 160); border-width: 2px; border-style: dashed; border-color: black; border-radius: 5px;}

.normaltext {background-color: white;}
.centertext {text-align: center; font-family: 'Brush Script MT',cursive;}
.textcenter {text-align: center;}