H1 {text-align: center;}

#body {background-color: lightyellow;}

#pizzabody {background-color: rgb(176, 139, 99);}
#coffeebody {background-color: rgb(176, 139, 150);}

#chaibody {background-color: rgb(225, 225, 150);}

#pizzabox {background-color: rgb(186, 165, 141);
border-width: 2px; border-style: dashed; border-color: black; border-radius: 15px;}

#pizzabox2 {background-color: rgb(200, 180, 141); border-width: 2px; border-style: dashed; border-color: black; border-radius: 15px;}

#pizzabox3 {background-color: rgb(204, 187, 143); border-width: 2px; border-style: dashed; border-color: black; border-radius: 15px;}

#coffeebox {background-color: rgb(204, 140, 143); border-width: 2px; border-style: dashed; border-color: black; border-radius: 15px;}

#coffeebox2 {background-color: rgb(220, 140, 143); border-width: 2px; border-style: dashed; border-color: black; border-radius: 15px;}

#chaibox {background-color: rgb(220, 190, 143); border-width: 2px; border-style: dashed; border-color: black; border-radius: 15px;}

#chaibox2 {background-color: rgb(220, 160, 160); border-width: 2px; border-style: dashed; border-color: black; border-radius: 15px;}

.normaltext {background-color: white;}
.centertext {text-align: center; font-family: 'Brush Script MT',cursive;}
.textcenter {text-align: center;}
.button {
  background-color: #de4337;
  color: white;
  margin-right: 10px;
  padding: 2px;
 }
.button:hover {
  background-color: yellow;
  color: black;
}
.button:active {
  background-color: #ffe8a8;
  color: grey;
}
a {
  text-decoration: none;
}
a:hover {
  background-color: green;
  text-decoration: underline;
}
